.character-card {
    border: 2px solid #000;
    border-radius: 19px;
    background-color: #54387d;
    width: 304px;
    margin: 20px auto;
    padding: 14px;
  
  }
  
  .character-card h2 {
    margin-bottom: 10px;
  }
  
 
.character-card img {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 1s ease;; /* Agrega una transición suave al cambio de transformación */
  }
  
  .character-card:hover img {
    transform: rotateY(180deg); /* Rota la imagen 180 grados al pasar el ratón sobre la tarjeta */
  }
  
  .character-card .back-face {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden; /* Asegura que la parte trasera no sea visible durante la rotación */
    transform: rotateY(180deg); /* Rota la parte trasera 180 grados para que esté alineada con la parte delantera */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b0000; /* Color de fondo de la parte trasera */
    color: white; /* Color del texto en la parte trasera */
  }